@charset "UTF-8";

body{
    background-color:rgb(191, 236, 191) ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(37, 85, 37);
}
#principal{
    text-align: center;
}
h2{
    color: rgb(67, 160, 80);
}
.basico{
    color: brown;
}
.intermediario{
    color: blue;
}
.avançado{
    color: rgb(233, 181, 11);
}