@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #D8B08C, #FFCB9A 90%);
}
main {
    background-color: white;
    border-radius: 10%;
    box-shadow: 5px 5px 15px #79624d;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
 color: #0F6466;
 text-align: center;
 text-shadow: 1px 1px 0px #062a2b8c ;
}

h2{
color: #2C3532;
}


p{
    text-align: justify;
}